In [6]:
import pandas as pd
import requests
from bs4 import BeautifulSoup as bs
from sqlalchemy import create_engine
import psycopg2

prem_res_url = 'https://fbref.com/en/comps/9/2021-2022/schedule/2021-2022-Premier-League-Scores-and-Fixtures'
prem_stad_url = 'https://en.wikipedia.org/wiki/2021%E2%80%9322_Premier_League'

#get prem results
res_data = requests.get(prem_res_url).text
prem_res_df = pd.read_html(res_data)[0]

#split scores
split_scores = [x for x in prem_res_df['Score'].str]
prem_res_df['Home goals'] = split_scores[0]
prem_res_df['Away goals'] = split_scores[2]

#get rid of nulls
prem_res_df = prem_res_df[prem_res_df['Home'].notna()]

#delete unwanted columns 
prem_res_df = prem_res_df.drop(prem_res_df.columns[[1, 5, 7,12,13]], axis=1)

#change data types
prem_res_df['Date'] = pd.to_datetime(prem_res_df['Date'])  
prem_res_df['Time'] = pd.to_datetime(prem_res_df['Time']).dt.time
prem_res_df['Home goals']=prem_res_df['Home goals'].astype('int')
prem_res_df['Away goals']=prem_res_df['Away goals'].astype('int')

###########   club table   ############
club_data = requests.get(prem_stad_url).text
club_df = pd.read_html(club_data, match='Stadium')[0]

#replace team names
club_df['Team'] = club_df['Team'].replace({'Brighton & Hove Albion':'Brighton', 
                               'Manchester United':'Manchester Utd','Newcastle United': 'Newcastle Utd', 
                     'Tottenham Hotspur':'Tottenham', 'West Ham United':'West Ham', 'Wolverhampton Wanderers':'Wolves' })

#replace stadium names
club_df['Stadium'] = club_df['Stadium'].replace({'Falmer Stadium':'The American Express Community Stadium', 
                               'City of Manchester Stadium':'Etihad Stadium',
          'Vicarage Road': 'Vicarage Road Stadium'})


############ referee name #############
referee_df = pd.DataFrame(prem_res_df['Referee'].unique()) 
referee_df['Referee_name'] = referee_df[0]
referee_df = referee_df.drop(referee_df.columns[0], axis=1)

C:\Users\Efe\AppData\Local\Temp\ipykernel_26740\789859872.py:15: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  split_scores = [x for x in prem_res_df['Score'].str]

In [20]:
#move tables to sql database
#connection string 
conn_string = create_engine('postgresql+psycopg2://postgres:Packlunch8*@localhost/prem21/22DW')

#insert the dataframe into database
#prem_res_df.to_sql('fact',conn_string, if_exists='replace', schema='public', index = False)
club_df.to_sql('club_d',conn_string, if_exists='replace', schema='public', index = False)
#referee_df.to_sql('ref_d',conn_string, if_exists='replace', schema='public', index = False)

20

In [12]:
#test database with query
pd.read_sql_query("select * from public.club_d",conn_string)

,Team,Location,Stadium,Capacity
0,Arsenal,London (Holloway),Emirates Stadium,60704
1,Aston Villa,Birmingham,Villa Park,42682
2,Brentford,London (Brentford),Brentford Community Stadium,17250
3,Brighton,Falmer,The American Express Community Stadium,31800
4,Burnley,Burnley,Turf Moor,21944
5,Chelsea,London (Fulham),Stamford Bridge,40834
6,Crystal Palace,London (Selhurst),Selhurst Park,25486
7,Everton,Liverpool (Walton),Goodison Park,39414
8,Leeds United,Leeds,Elland Road,37792
9,Leicester City,Leicester,King Power Stadium,32312
10,Liverpool,Liverpool (Anfield),Anfield,53394
11,Manchester City,Manchester (Bradford),Etihad Stadium,53400
12,Manchester Utd,Manchester (Old Trafford),Old Trafford,74140
13,Newcastle Utd,Newcastle upon Tyne,St James' Park,52305
14,Norwich City,Norwich,Carrow Road,27244
15,Southampton,Southampton,St Mary's Stadium,32384
16,Tottenham,London (Tottenham),Tottenham Hotspur Stadium,62850
17,Watford,Watford,Vicarage Road Stadium,22200
18,West Ham,London (Stratford),London Stadium,60000
19,Wolves,Wolverhampton,Molineux Stadium,32050

In [17]:
#add referee dim from public to staging 
#table already set up in staging
#####set up generating index#####
staging_ref_insert = '''
insert into staging.ref_d(referee_name)
select "Referee_name"::varchar as referee_name from public.ref_d

--use line below for upsert
--on conflict on constraint referee_name do nothing
'''
conn_string.execute(staging_ref_insert)

In [21]:
#add club dim from public to staging 
staging_club_insert = '''
insert into staging.club_d(club_pk, club_name, location, stadium, capacity )
select row_number() over(order by "Team")::int as club_pk, "Team" as club_name, "Location" as location,
    "Stadium" as stadium, "Capacity"::int as capacity  from public.club_d
--use line below for upsert
--on conflict do nothing
'''
conn_string.execute(staging_club_insert)

In [ ]:
#add away club dim from public to staging 
staging_away_club_insert = '''
insert into staging.away_club_d(club_pk, club_name, location, stadium, capacity )
select row_number() over(order by "Team")::int as club_pk, "Team" as club_name, "Location" as location,
    "Stadium" as stadium, "Capacity"::int as capacity  from public.club_d
--use line below for upsert
--on conflict do nothing
'''
conn_string.execute(staging_away_club_insert)

In [22]:
#add fact table to staging
######set up generating index#####
staging_fact_insert = '''
insert into staging.fact(game_week_fk, date_fk, time_fk, home_fk, home, score, away, away_fk, attendance, venue, 
    referee_fk, home_goals, away_goals)
    
select "Wk"::int as game_week_fk, 
    replace(("Date"::date)::varchar,'-','')::bigint as date_fk,
    replace(to_char("Time",'HH24:MI')::varchar,':','')::int as time_fk,
    cd.club_pk::int as home_fk,
    "Home"::varchar as home,
    "Score"::varchar as score,
    "Away"::varchar as away,
    cda.club_pk::int as away_fk,
    "Attendance"::int as attendance,
    "Venue"::varchar as venue,
    rd.referee_pk::int as referee_fk,
    "Home goals"::int as home_goals,
    "Away goals"::int as away_goals
from public.fact
left join staging.club_d cd on "Home" = cd.club_name
left join staging.club_d cda on "Away" = cda.club_name
left join staging.ref_d rd on "Referee" = rd.referee_name

--use line below on upsert
--where replace(("Date"::date)::varchar,'-','')::bigint > (select max(date_fk) from staging.fact)

order by "Date","Time", "Home"
'''
conn_string.execute(staging_fact_insert)

In [23]:
#close sql connection
conn_string.dispose()